<div style="margin-top:10px;">
    <div id="period-container"></div>
    <hr />
    <app-controller (clickButton)="clickButtonHandler($event)" [isPlay]="isPlay" [currentTime]="currentTs">
    </app-controller>
    <hr />
    <app-ecg [ecgConvertedData]="ecgConvertedData" [xEcgAddedData]="xEcgAddedData" [maxEcgYAxisValue]="maxEcgYAxisValue"></app-ecg>
    <hr />
    <app-respiration [resConvertedData]="resConvertedData" [xResAddedData]="xResAddedData" [maxResYAxisValue]="maxResYAxisValue"></app-respiration>
</div>
