<div class="mid-header">
    <div class="id">
      <div>Patient ID</div>
      <div class="property">123456789</div>
    </div>
    <div class="gender">
      <div>Gender</div>
      <div class="property">Male</div>
    </div>
    <div class="age">
      <div>Age</div>
      <div class="property">35 (Jul 16, 1985)</div>
    </div>
    <div class="sTime">
      <div>Start Time</div>
      <div class="property">{{startTime}}</div>
    </div>
    <div class="eTime">
      <div>End Time</div>
      <div class="property">{{endTime}}</div>
    </div>
  </div>