<header>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"> 
</header>
<div class="header">
  <div class="top-header">
    MEZOO ECG Reader
  </div>
  <app-p-data></app-p-data>
</div>
<div class="content">
  <app-d-list class="left-content"></app-d-list>
  <div class="right-content">
    <app-period></app-period>
    <app-controller></app-controller>
    <app-ecg></app-ecg>
    <app-respiration></app-respiration>
  </div>
</div>